
<div class="flex flex-col mt-4 absolute left-0 top-24 px-4 p-3 bg-emerald-600">
  <div><%= link_to "New Juke!", "tbd", method: :post, class: "relative text-1xl font-bold rounded text-white bg-emerald-600 hover:bg-emerald-500 focus:bg-emerald-700" %></div>
  <div><%= link_to "Join a Juke!", "tbd", method: :post, class: "relative text-1xl font-bold rounded r-lg text-white bg-emerald-600 hover:bg-emerald-500 focus:bg-emerald-700" %></div>
  <div><%= link_to "Explore Nearby Jukes!", "tbd", method: :post, class: "relative text-1xl font-bold rounded r-lg text-white bg-emerald-600 hover:bg-emerald-500 focus:bg-emerald-700" %></div>
  <div class="relative text-1xl font-bold rounded r-lg text-white bg-emerald-600 hover:bg-emerald-500 focus:bg-emerald-700">Current Jukes:</div>
</div>


<div class="absolute right-10 top-0 px-5 p-8 bg-emerald-600">
  <div class="relative text-2xl font-bold rounded r-lg text-white bg-emerald-600 hover:bg-emerald-500 focus:bg-emerald-700">
   <%=@user.username %>'s Juke Page
  <div>
</div>


