

<div class="absolute right-10 top-0 px-5 p-8 bg-emerald-600">
  <%= link_to "Log In", "/auth/spotify", method: :post, class: "relative text-2xl font-bold rounded r-lg text-white bg-emerald-600 hover:bg-emerald-500 focus:bg-emerald-700" %>
</div>

<div class= "relative columns-2 h-120 w-80">
  <div class= "absolute top-40 left-0">  
    <%= image_tag("playlists/playlist.png") %>
  </div>
</div>