

<div class="absolute right-10 top-0 px-5 p-8 bg-emerald-600">
  <%= link_to "Log In", "/auth/spotify", method: :post, class: "relative text-2xl font-bold rounded r-lg text-white bg-emerald-600 hover:bg-emerald-500 focus:bg-emerald-700" %>
</div>

<div class= "grid grid-rows-2 grid-flow-col gap-1">
  <div class= "absolute top-24 left-0 w-full h-full">  
    <%= image_tag("playlists/playlist.png") %>
  </div>
  <div class= "absolute top-24 right-5">  
    <div class="max-w-md overflow-hidden rounded-lg shadow-lg">
      <div class="px-6 py-4">
        <h4 class="mb-3 text-xl font-semibold tracking-tight text-gray-800">What is JukeGenie?</h4>
        <p class="leading-normal text-gray-700">Sign up with our app to exeprience a whole new way to socially discover music and create spotify playlists! JukeGenie will allow you to start Jukes that other people can join, then recommend songs, artists or genres to your Juke. When you find you have enough suggestions, you will be able to create a completely new playlist that shows up in your spotify account based on the recommendations you have received. If you have make a private juke, you can invite other friends by providing them your Juke code. If you are daring or explorative, you can create a public Juke, share your location and prefered range with our app and any Juke users within that range will be able to see your Juke and provide you recommendations. You can also discover the Jukes in your area and provide them recommendations. So what are you waiting for!? Click the Log In button to start discovering a whole new range of music! </p>
      </div>
    </div> 
  </div>
</div>