<div class="flex flex-col mt-10 relative self-center top-24 px-4 p-3 bg-emerald-600">
  <div><center><u><%= link_to "Return To Dashboard!", "/dashboard", method: :get, class: "relative text-2xl font-bold rounded text-white bg-emerald-600 hover:bg-emerald-500 focus:bg-emerald-700" %></u></center></div><br>
  <div class="text-1xl font-bold rounded r-lg text-white bg-emerald-600">1. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Song Name &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Song Title &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Artist Name &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Song Length</div>
  <div class="text-1xl font-bold rounded r-lg text-white bg-emerald-600">2. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Song Name &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Song Title &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Artist Name &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Song Length</div>
</div>

<div class="absolute right-10 top-0 px-5 p-8 bg-emerald-600">
  <div class="relative text-2xl font-bold rounded r-lg text-white bg-emerald-600 hover:bg-emerald-500 focus:bg-emerald-700">
   Playlist Name
  <div>
</div>


